body {
	font-family: proxima-nova, sans-serif;
}

div#title {
	margin: 0 auto;
	text-align: center;
}

div#title h1 {
	margin-bottom: 5px;
	margin-top: 5px;
}

#mapid {
	width: 60vw;
	display: inline-block;
	height: 65vh;
	margin: 0 auto 0 6vw;
	
}

#side {
	width: 28vw;
	height: 65vh;
	display: inline-block;
	vertical-align: top;
}

#legend {
	width: 40%;
	height: 40%;
	display: inline-block;
	vertical-align: top;
}

#desc {
	display: inline-block;
	vertical-align: top;
	width: 58%;
	height: 40%;
	font-size: 16px;

}


#photo {
	display: block;
	width: 100%;
	height: 60%;
}

#photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	margin-top: 5px;
}

div#button{
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	z-index: 5000;
	font-family: proxima-nova, sans-serif;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	background-color: rgba(255,255,255,1);
	box-shadow: 3px 3px 3px #bbb;
	border-radius: 5px;
}

div#button p {
	border-radius: 5px;
	margin: 2px;
}

div#button p.on {
	box-shadow: 3px 3px 3px #bbb,-3px -3px 3px #bbb;
}

div#button p.off {
	cursor: pointer;
}

#plot {
	width: 90vw;
	margin: 0 auto 0 40px;
	display: block;
	height: 20vh;
}

#plot svg path.highlight {
	opacity: 1;
	stroke-width: 2px;

}

#slider {
	width: 300px;
	margin: 0 auto;
}

#year {
	width:50px;
	text-align: center;
	margin: 0 auto;
}

.leaflet-popup-content {
	margin: 6.5px 9.5px;
}

.leaflet-popup-content p {
    margin: 0em 0;
    font-family: proxima-nova, sans-serif;
}

.xAxis,.yAxis {
	opacity: 0.6;

}





