body {
	font-family: proxima-nova, sans-serif;
	margin: 0;
}

div#title {
	font-family: 'Fredericka the Great', cursive;
	margin: 0 auto;
	color: #6788A1;
	text-decoration: underline;
	position: relative;
	display: flex;
	justify-content: space-between;
}

div#title h1 {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 3%;
	text-align: left;
	flex-grow: 1;
}


#mapid {
	width: 95vw;
	display: block;
	height: 90vh;
	margin: 0 auto;
	position: relative;
}

@media only screen and (max-width: 600px) {
	#mapid {
		height: 83vh;
	}
}

path.leaflet-interactive {
	stroke-width: 1;
	stroke: #fff;
	fill:rgba(66,146,198,0.6);
	fill-opacity: 1;
}

div.popupContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	pointer-events: none;
	cursor: auto;
	overflow: scroll;
}

div.popupContainer .inner {
	position: absolute;
	top: 50%;
  	left: 50%;
  	width: 90%;
  	transform: translate(-50%, -45%);
	z-index: 1200;
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
	font-size: 13px;
	line-height: 14.5px;
	max-height: 85%;

}

div.popupContainer .inner .content{
	color: #333;
	margin: 0;
	padding: 10px;
	font-family: proxima-nova, sans-serif;
	position: relative;
	font-size: 16px;
}

.content h3 {
	margin: 0;
	font-size: 21px;
	line-height: 24px;
	margin-bottom: 0;
}

.content p {
	margin: 0;
}

img.closeIcon {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

img.sitePhoto {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 10px;
}


#myInput {
	font-family: proxima-nova, sans-serif;
	width: 120px;
	font-size: 18px;
	padding: 1px;
	border: solid 1px #6788A1;
	border-radius: 5px;
	padding: 3px;
}

div#input {
	position: relative;
}

div.autocomplete {
	font-family: proxima-nova, sans-serif;
	color: #333;
  pointer-events: auto;
	right: 5px;
	bottom: 2px;
	z-index: 1400;
	font-size: 18px;
	align-self: flex-end;
	margin-bottom: 5px;
	margin-right: 5px;
}

.autocomplete-items div{
	border: solid 0.15px #777;
	background-color: #fff;
}

.autocomplete-items div:hover {
	background-color: #eee;
	cursor: pointer;
}
div.autocomplete-items {
	position: absolute;
	top: 0;
}


img.mayaIcon {
	height: 1em;
	width: 1em;
	margin-right: 3px;
	transform: translate(0,2.5px);
}

